@import "tailwindcss";
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "JetBrains Mono", "Fira Code", "Cascadia Code", monospace;
  color: #ffff;
}

@layer components {
  .header {
    @apply fixed w-full flex items-center justify-between p-4 bg-gray-800 shadow-md;
  }
  .logo {
    @apply text-xl font-bold text-shadow-white italic;
  }
  .navbarMobile {
    @apply absolute top-16 left-0 w-full bg-gray-800 flex-col items-center gap-4 py-4 text-violet-500 z-50 md:hidden;
  }
  .navbarDesktop {
    @apply hidden sm:flex sm:gap-4 gap-6;
  }
  .hover {
    @apply hover:text-violet-500 transition-colors active:bg-white;
  }
  .heroContainer {
    @apply h-screen flex flex-col items-center justify-center bg-slate-900 px-4 text-center gap-2 sm:gap-3 md:gap-5;
  }
  .heroH1 {
    @apply overflow-hidden whitespace-nowrap text-2xl sm:text-4xl md:text-6xl font-mono font-bold text-violet-500;
  }
  .profileBox {
    @apply flex flex-col sm:pl-20 items-center justify-center bg-slate-900 text-center gap-2 sm:gap-5 md:gap-10 sm:flex sm:flex-row sm:justify-between;
  }

  .aboutMeContainer {
    @apply h-screen flex flex-col items-center justify-center bg-slate-900 px-4 text-center gap-2 sm:gap-3 md:gap-10;
  }
  .btn-gray {
    @apply bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors duration-300 ease-in;
  }
  .project-card {
    @apply bg-gray-800 p-4 m-4 rounded-lg shadow-lg text-white;
  }
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition-colors duration-300 ease-in;
  }
  .textH3 {
    @apply text-2xl sm:text-4xl w-full;
  }
}
